V1(
  width: 1024,
  height: 600,
  channels: [
    Channel(
      name: "RPM",
      source: Oscillating(0, 6500),
      units: Named("RPM"),
      transform: Identity
    ), Channel(
      name: "ECT",
      source: Oscillating(0, 300),
      units: Named("F"),
      transform: Identity,
    ), Channel(
      name: "OIL_PRESSURE",
      source: Oscillating(0, 60),
      units: Named("F"),
      transform: Identity,
    )
  ], conditions: [
     When("RPM",  GreaterThan(6000.0),   Alarm("OVERRUN")),
     When("OILP", LessThan(20.0),        Alarm("OILP_LOW")),
     When("ECT",  LessThan(150.0),       Alarm("ECT_LOW")),
     When("ECT",  Between(180.0, 215.0), Alarm("ECT_GOOD")),
     When("ECT",  GreaterThan(215.0),    Alarm("ECT_HIGH"))
  ], gauges: [
      Gauge(
        name: "Tach",
        kind: Dial(Range(0.0, 6500.0), MajorMinor(500.0, 100.0), Filled),
        channel: "RPM",
        layout: Grid(GridSize(2, 1), GridPosition(0, 0)),
        styles: {Alarm("OVERRUN"): "DANGER"}
      ), Gauge(
        name: "Coolant",
        kind: Dial(Range(0, 300), None, Outline),
        channel: "ECT",
        layout: Grid(GridSize(2, 4), GridPosition(0, 1)),
        styles: {
          Alarm("ECT_LOW"): "ECT_LOW",
          Alarm("ECT_GOOD"): "OK",
          Alarm("ECT_HIGH"): "DANGER"
        },
      ), Gauge(
        name: "Oil Pressure",
        kind: Dial(Range(0, 600), None, Outline),
        channel: "ECT",
        layout: Grid(GridSize(2, 4), GridPosition(0, 1)),
        styles: {Alarm("OIL_PRESSURE_LOW"): "DANGER"}
      )
  ], pages: [
    Page(["Tach", "Coolant", "Oil Pressure"]),
  ], styles: {
    Default: Style(
      background: Solid(Black),
      foreground: Solid(White),
      indicator: Solid(Orange),
    ), Define("ECT_LOW"): Style(
      background: Inherit,
      foreground: SlowBlink(Blue),
      indicator: SlowBlink(Blue),
    ), Define("DANGER"): Style(
      background: Inherit,
      foreground: FastBlink(Red),
      indicator: FastBlink(Red),
    ), Define("OK"): Style(
      background: Inherit,
      foreground: Inherit,
      indicator: Solid(Green)
    )
  }
)
